@model IEnumerable<ExpensCustomer.Models.ExpenseItem>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Expense Item List</h2>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-success">Create New Customer</a>
    </div>
</div>
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Expense)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Expense.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>

                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Action</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>  <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                            <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                            <li> <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>



